.aboutpagewrapper {
    margin-bottom: 200px;
}

.aboutbanner {
    height: 100%;
    width: 80%;
    margin: auto;
    position: relative;
}
.aboutbanner img {
    height: 500px;
    width: 100%;
    object-fit: cover;
    position: relative;
    text-align: center;
}

.aboutbanner p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #475569e5;
    padding: 10px 30px;
    font-weight: 500;
    font-size: 40px;
    color: white;
}
.about-content {
    width: 70%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 100px;
}
.whatblog {
    display: flex;
    flex-direction: row;
    padding: 50px 0px;
}
.whatblog h3 {
    width: 50%;
    font-size: 30px;
    padding: 10px;
    color: #692A6C;
}
.whatblog p {
    width: 50%;
    text-align: left;
    font-size: 20px;
    font-weight: 700;
    padding: 10px;
}
.whyblog {
    display: flex;
    flex-direction: row-reverse;
    padding: 50px 0px;
}
.whyblog h3 {
    width: 50%;
    font-size: 30px;
    padding: 10px;
    color: #692A6C;
}
.whyblog p {
    width: 50%;
    text-align: left;
    font-size: 20px;
    font-weight: 700;
    padding: 10px;
}

@media screen and (max-width: 900px) {
    .aboutbanner img{
        height: 300px;
    }

    .about-content {
        width: 80%;
        margin-top: 50px;
    }

    .about-content h3 {
        font-size: 25px;
    }

    .about-content p {
        font-size: 18px;
    }
}


@media screen and (max-width: 600px) {
    .aboutbanner {
        width: 100%;
    }

    .aboutbanner img {
        height: 400px;
    }
    .aboutbanner p {
        font-size: 30px;
        padding: 10px 40px;
        width: 300px;
    }
    .about-content {
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        width: 100%;
    }
    .whatblog {
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 100%;
        padding: 0px;
    }

    .whatblog h3 {
        width: 100%;
    }
    .whatblog p {
        text-align: center;
        width: 80%;
        margin: auto;
    }

    .whyblog {
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 100%;
        padding: 0px;
    }

    .whyblog h3 {
        width: 100%;
    }
    .whyblog p {
        text-align: center;
        width: 80%;
        margin: auto;
    } 
}