.articles {
    margin-top: 100px ;
    width: 100%;
    justify-content: center;
    margin-bottom: 200px;
}
.searchbar {
    padding: 20px;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.searchbar i {
    position: absolute;
}

i {
    padding: 10px;
    color: rgb(0, 0, 0);
    min-width: 50px;
    text-align: center;
}

.searchbar input {
    width: 300px;
    color: black;
    border: none;
    background: #C4C4C4;
    text-align: center;
    padding: 10px;
    border-radius: 3px;
}

::placeholder {
    color: #475569;
}

.articlecontent {
    margin-top: 50px;
    width: 70%;
    height: auto;
    margin: auto;
    padding-top: 100px;
}

.allarticles {
    text-align: left;
    width: 100%;
    padding: 0px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    grid-auto-rows: minmax(100px, auto);
}

.allarticles a {
    text-decoration: none;
    color: blanchedalmond;
    text-align: right;
    padding-top: 20px;
    padding-right: 10px;
}

.articlebanner {
  background-blend-mode: hard-light ;
}