.homepage {
    justify-content: center;
    top: 0;
    width: 100%;
    margin-bottom: 200px;
}
a {
    text-decoration: none;
}
.banner {
    height: 100%;
    width: 70%;
    margin: auto;
}

.bannerimage {
    height: 500px;
    width: 100%;
    object-fit: cover;
}

.latestarticle {
    background-color: #692A6C;
    position: absolute;
    padding: 20px;
    top: 45%;
    left: 20%;
    width: 18%;
    max-width: 320px;
    min-width: 250px;
    height: 250px;
    display: flex;
    flex-direction: column;
    color: white;
    text-align: left;
}

.latestarticlecontent {
    display: flex;
    flex-direction: column;
}
.latestarticlecontent a{
    margin-top: auto;
}
.latestarticlecontent h3 {
    padding: 10px 0px;
    font-size: 20px;
}
.latestarticlecontent p {

}



.readmorelink {
    text-decoration: none;
    color: blanchedalmond;
    text-align: right;
    padding-top: 20px;
    padding-right: 10px;
    margin-top: auto;
    font-size: 11px;
}

.popularcontent {
    width: 70%;
    height: auto;
    margin: auto;
    padding-top: 200px;
}

.popularcontent h2 {
    margin: 40px ;
    font-weight: 800;
}

.populararticles {
    text-align: left;
    width: 100%;
    padding: 0px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    grid-auto-rows: minmax(100px, auto);
}

.articlebanner {
    border-radius: 5px;
    height: 300px;
    padding: 30px;
    color: white;
    display: flex;
    flex-direction: column;
}

.cardtext {
    height: 50%;
    margin-top: auto;
    display: flex;
    flex-direction: column;
}

.articlebanner a {
    text-decoration: none;
    color: blanchedalmond;
    text-align: right;
    padding-top: 20px;
    padding-right: 10px;

}


.populararticles h3 {
    margin: 20px 0px;;
}
@media screen and (max-width: 900px) {

    .latestarticle {
        top: 37%
    }

    .populararticles {
        grid-template-columns: repeat(2, 1fr);
        margin: auto;

    }
}

@media screen and (max-width: 600px) {
    .banner {
        width: 100%;
    }

    .bannerimage {
        height: 400px;
    }

    .latestarticle {
        top: 30%;
        left: 0;
        max-width: 250px;
        min-width: 220px;
        box-shadow: 3px 3px #888888;
        display: flex;
        flex-direction: column;
    }

    .popularcontent {
        width: 90%;
        text-align: center;
    }

    .popularcontent h2 {
        margin: 40px ;
        font-weight: 800;
        font-size: 25px;
    }

    .populararticles {
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        margin: auto;
    }

    .articlebanner {
        box-shadow: 3px 3px #888888 ;
    }

}