.othernews {
    margin: 150px 0px; 
}

.othernewsarticles {
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.news {
    text-align: left;
    padding: 50px 0px;
    border-bottom: 2px solid rgb(161, 161, 161);
    border-width: 80%;
    width: 60%;
    margin: auto;
}

.news h2 {
    font-weight: bolder;
    color: #692A6C;
}

.news h3 {
    color: #BB9BB0 ;
    margin-bottom: 50px;
}

.news p {
    margin-top: 20px;
}


@media screen and (max-width: 900px) {

    .othernews {
        margin-top: 50px;
    }

    .othernewsarticles {
        width: 100%;
    }

    .news p {
        font-size: 18px;
    }
}
@media screen and (max-width: 600px) {
    .othernews {
        margin: 0px;
    }
    .othernewsarticles {
        width: 100%;
        margin-top: 40px;
    }

    .news {
        width: 70%;
    }

    .news h2 {
        font-size: 22px;
    }

    .news h3 {
        font-size: 18px;
        margin-bottom: 20px;
    }

    .news p {
        font-weight:bold;
        line-height: 20px;
    }

}